{% extends 'matriculas/base.html' %}
{% block title %}Nueva Carrera{% endblock %}

{% block content %}
  <div class="max-w-xl mx-auto">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">
      Registrar Carrera
    </h2>

    <form method="post" class="bg-white shadow-md rounded-lg p-6 space-y-6">
      {% csrf_token %}

      {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
            {{ field.label }}
          </label>
          {{ field }}
          {% if field.errors %}
            <p class="text-red-500 text-sm mt-1">{{ field.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}

      <div class="form-actions">
        <a href="{% url 'carrera_list' %}" class="btn btn-cancel">Cancelar</a>
        <button type="submit" class="btn btn-mb3">Guardar</button>
    </div>
    </form>
  </div>
{% endblock %}
