{% extends 'matriculas/base.html' %}
{% block title %}Carreras{% endblock %}
{% block content %}
<a href="{% url 'carrera_create' %}" class="btn btn-primary mb-3">
    Nueva Carrera
  </a>
  <table class="table table-bordered table-striped table-hover w-100">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2">ID</th>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2">Estado</th>
        <th class="px-4 py-2">Semestres</th>
        <th class="px-4 py-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for carrera in object_list %}
      <tr class="border-t">
        <td class="px-4 py-2">{{ carrera.id }}</td>
        <td class="px-4 py-2">{{ carrera.nombre }}</td>
        <td class="px-4 py-2">{{ carrera.estado }}</td>
        <td class="px-4 py-2">{{ carrera.semestres }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="px-4 py-2 text-center">No hay carreras.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
