{% extends 'matriculas/base.html' %}
{% block title %}Estudiantes{% endblock %}
{% block content %}
<form method="get" class="mb-4 d-flex justify-content-end align-items-center">
  <label for="id_q" class="me-2 mb-0 fw-bold">Buscar estudiante:</label>
  <input type="text" id="id_q" name="q" value="{{ request.GET.q }}" class="form-control w-auto me-2" placeholder="Nombre o apellido">
  <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<div class="d-flex flex-column h-100">
  <div class="mb-3">
    <a href="{% url 'estudiante_create' %}" class="btn btn-primary">Nuevo Estudiante</a>
  </div>

  <div class="flex-grow-1 overflow-auto">
    <table class="table table-bordered table-striped table-hover w-100">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Fecha de nacimiento</th>
          <th>Género</th>
          <th>Celular</th>
          <th>Correo electrónico</th>
          <th>Ciudad</th>
          <th>Es matriculado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for e in object_list %}
        <tr>
          <td class="px-4 py-2">{{ e.nombre }}</td>
          <td class="px-4 py-2">{{ e.apellido }}</td>
          <td class="px-4 py-2">{{ e.cedula }}</td>
          <td class="px-4 py-2">{{ e.fecha_nacimiento }}</td>
          <td class="px-4 py-2">{{ e.genero }}</td>
          <td class="px-4 py-2">{{ e.celular }}</td>
          <td class="px-4 py-2">{{ e.correo }}</td>
          <td class="px-4 py-2">{{ e.id_ciudad }}</td>
          <td class="px-4 py-2 text-center">
            {% if e.matriculas.exists %}
              <i class="bi bi-check-circle-fill text-success" title="Matriculado"></i>
            {% else %}
              <i class="bi bi-x-circle-fill text-danger" title="No matriculado"></i>
            {% endif %}
          </td>
           <td class="text-center">
             <a href="{% url 'matricula_create_from_estudiante' e.pk %}" class="text-success me-2" title="Matricular">
                <i class="bi bi-journal-plus"></i>
            </a>

              <a href="{% url 'estudiante_update' e.pk %}" class="text-primary me-2" title="Editar">
                  <i class="bi bi-pencil-square"></i>
              </a>
              <a href="{% url 'estudiante_delete' e.pk %}" class="text-danger" title="Eliminar">
                  <i class="bi bi-trash-fill"></i>
              </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

